<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.fade.app"
        versionCode = "10"
        version     = "1.1.0">

    <name>ТЕСТ. 9 класс В</name>

    <description>
        Приложения для сайта fade.zzz.com.ua
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/b732cc96b6b6648d19d18df1e2b2313f.png" density="ldpi" />
        <icon src="res/android/icon/ee141e6cfb9f3e4852b7a91d7d3d0eaa.png" density="mdpi" />
        <icon src="res/android/icon/06595bb9c7ba9e438b8a2ef14a304579.png" density="hdpi" />
        <icon src="res/android/icon/3d57b1780ff0f0828979f7390c5141f6.png" density="xhdpi" />
        <icon src="res/android/icon/f16ccf4a586c7634b2aa8480b149d382.png" density="xxhdpi" />
        <icon src="res/android/icon/5a56c201fee4140b2434759ade3ca698.png" density="xxxhdpi" />

        <splash src="res/android/screen/fe05b91672605f6ca8598a43db5621a7.png" density="port-hdpi"/>
        <splash src="res/android/screen/bc4221e82f2630b46fd0e332b237067d.png" density="port-ldpi"/>
        <splash src="res/android/screen/2fa8c479ea7397ba7262fc00eb119b83.png" density="port-mdpi"/>
        <splash src="res/android/screen/f909bcb4524edfdb6ca0ca3d554c4012.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/6201ada81d2e91ba25b30ef1ec442165.png" width="180" height="180" />
        <icon src="res/ios/icon/d4e3a5cd593dab3dece4fd62ac04ce6a.png" width="60" height="60" />
        <icon src="res/ios/icon/4ec153b282d6036c77b4eb0bfc948c10.png" width="120" height="120" />
        <icon src="res/ios/icon/3f085a84214dc962c9f7a584cd4fd9ec.png" width="76" height="76" />
        <icon src="res/ios/icon/b8ea54f631e35fe12987998f9390c52d.png" width="152" height="152" />
        <icon src="res/ios/icon/67f16da0fac98911a706c9ad9be74252.png" width="57" height="57" />
        <icon src="res/ios/icon/7ef7c812c8d8da37a81c5bec720dbba4.png" width="114" height="114" />
        <icon src="res/ios/icon/da92389ae70e87fbb94f4d9ce9561a71.png" width="72" height="72" />
        <icon src="res/ios/icon/277f63eb016250b9e0c6b0d24099427b.png" width="144" height="144" />
        <icon src="res/ios/icon/9553c2250c63d6b041532ecf57e43ebd.png" width="167" height="167" />
        <icon src="res/ios/icon/c86bf3bebf7b858955d025bf659142f7.png" width="29" height="29" />
        <icon src="res/ios/icon/a78f898bf104b3f915be72fbf1638856.png" width="58" height="58" />
        <icon src="res/ios/icon/9aa41fb94318f51255b6381c8f36df8e.png" width="87" height="87" />
        <icon src="res/ios/icon/b3cf40778ad5312f1ad3a2c6f28b3807.png" width="167" height="167" />

        <splash src="res/ios/screen/2f5187813eb65bad28020a925a366e29.png" />
        <splash src="res/ios/screen/fa7d370dbbca316ec519853f086f7028.png" />
        <splash src="res/ios/screen/fb99a181a8431adab49284a0870e09b7.png" />
        <splash src="res/ios/screen/67b72f49782e2ca8170f406b8b0306c9.png" />
        <splash src="res/ios/screen/1ba1e2d50f1e0fe0719ec7b2da757562.png" />
        <splash src="res/ios/screen/fb7f4cedf22aea289bbc37616ffba526.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/8cd4ebfc077669133d8b6d487703e2a8.png" target="StoreLogo" />
        <icon src="res/windows/icon/c12fb9bfb6faa4dee42a523645d22bec.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/29e530aee4c58366049acfa00b42d571.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/fe539466a5580b6c1998f168e8cb845e.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/8dd460fe096121fef0c81aea7960c1e6.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/45f128f0728c5349495e88f0024fd579.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/d708ee499ba6cebf967322a974040cfb.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/ec372f8a1b6220774ee438818ec1cc14.png" target="SplashScreen"/>
        <splash src="res/windows/screen/8e15b80f9d0db2c1cce140458a14706b.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>